.yourNameDiv {
  position: relative;
  display: inline-block;
}
.frameDiv {
  align-self: stretch;
  border-radius: var(--br-md);
  border: 2px solid var(--color-yellow);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-yellow);
  font-family: var(--font-roboto);
}
